<div class="club-tabs">
    <div class="mbox">

        <!-- here is title -->

        <div class="title-main">
            афиша
        </div>

        <!-- /here is title -->

        <div class="club-tabs-main">

            <div class="club-tabs-buttons cfix">
                <div class="club-tabs-button-item active" data-tabs=1>
                    <span>Мероприятия резиденции</span>
                </div>
                <div class="club-tabs-button-item" data-tabs=2>
                    <span>Внешние мероприятия</span>
                </div>
            </div>

            <div class="club-tabs-content-wrap">

                <div class="club-tabs-content small-list-wrap tab-1-small-list active" data-tabs="1">

                    <div class="small-list-item">
                        <div class="small-list-img">
                            <img src="images/text-img1.jpg" alt="" />
                        </div>
                        <div class="small-list-nums">13/10</div>
                        <div class="small-list-title">
                            <span>Выходные для людей старшего поколения</span>
                        </div>
                        <div class="small-list-text">
                            Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».
                        </div>
                        <div class="small-list-link">
                            <div class="text-block-comebackLink right-link">
                                <a href="#">
                                    <span>Смотреть полностью</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="club-tabs-content tab-2-small-list small-list-wrap" data-tabs="2">

                    <div class="small-list-item">
                        <div class="small-list-img">
                            <img src="images/text-img1.jpg" alt="" />
                        </div>
                        <div class="small-list-nums">13/10</div>
                        <div class="small-list-title">
                            <span>Выходные для людей старшего поколения1</span>
                        </div>
                        <div class="small-list-text">
                            Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».
                        </div>
                        <div class="small-list-link">
                            <div class="text-block-comebackLink right-link">
                                <a href="#">
                                    <span>Смотреть полностью</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="small-list-item">
                        <div class="small-list-img">
                            <img src="images/text-img1.jpg" alt="" />
                        </div>
                        <div class="small-list-nums">13/10</div>
                        <div class="small-list-title">
                            <span>Выходные для людей старшего поколения1</span>
                        </div>
                        <div class="small-list-text">
                            Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».
                        </div>
                        <div class="small-list-link">
                            <div class="text-block-comebackLink right-link">
                                <a href="#">
                                    <span>Смотреть полностью</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="small-list-item">
                        <div class="small-list-img">
                            <img src="images/text-img1.jpg" alt="" />
                        </div>
                        <div class="small-list-nums">13/10</div>
                        <div class="small-list-title">
                            <span>Выходные для людей старшего поколения1</span>
                        </div>
                        <div class="small-list-text">
                            Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».
                        </div>
                        <div class="small-list-link">
                            <div class="text-block-comebackLink right-link">
                                <a href="#">
                                    <span>Смотреть полностью</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="small-list-item">
                        <div class="small-list-img">
                            <img src="images/text-img1.jpg" alt="" />
                        </div>
                        <div class="small-list-nums">13/10</div>
                        <div class="small-list-title">
                            <span>Выходные для людей старшего поколения1</span>
                        </div>
                        <div class="small-list-text">
                            Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».
                        </div>
                        <div class="small-list-link">
                            <div class="text-block-comebackLink right-link">
                                <a href="#">
                                    <span>Смотреть полностью</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="small-list-item">
                        <div class="small-list-img">
                            <img src="images/text-img1.jpg" alt="" />
                        </div>
                        <div class="small-list-nums">13/10</div>
                        <div class="small-list-title">
                            <span>Выходные для людей старшего поколения1</span>
                        </div>
                        <div class="small-list-text">
                            Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».
                        </div>
                        <div class="small-list-link">
                            <div class="text-block-comebackLink right-link">
                                <a href="#">
                                    <span>Смотреть полностью</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <div class="club-tabs-button">
            <a href="#" class="button orange">
                <span>Вступить в клуб</span>
            </a>
        </div>

    </div>
</div>