<div class="contacts-wrap">
    <div class="mbox">
        <div class="contact-box">
            <div class="title-contact">контакты</div>
            <div class="contact-description cfix">
                <div class="offices cfix">
                    <div class="central-office office-description cfix">
                        <div class="title-office"> Центральный офис </div>
                        <div class="office-adress office-texter"> Адрес: <br /> 119530, г. Москва, <br /> Очаковское шоссе, д. 34.</div>
                        <div class="office-tel office-texter">
                            Тел./факс: <br />
                            <a href="callto&#58;+74957925205">+7 (495) 792-52-05  </a> <br />
                            <a href="callto&#58;+74997450333">+7 (499) 745-03-33 </a>
                        </div>
                        <div class="office-mail office-texter" >
                            E-mail: <br />
                            <a href="mailto:info@3age.ru">info@3age.ru </a>
                        </div>
                    </div>
                    <div class="residence-office office-description cfix">
                        <div class="title-office "> Резиденции «Рублево-Мякинино» </div>
                        <div class="office-adress office-texter"> Адрес: <br /> г. Москва, ул. 3-я Мякининская, д. 12</div>
                        <div class="office-tel office-texter"> Тел./факс: <br />
                            <a href="callto&#58;+74956020257" >+ 7 (495) 602-02-57 </a>
                        </div>
                        <div class="office-mail office-texter"> E-mail:<br />
                            <a href="mailto:info@3age.ru" >info@3age.ru </a>
                        </div>
                        <div class="office-bank office-texter">
                            ОАО "Третий Возраст" <br />
                            a ИНН 7729722769  <br />
                            КПП 772901001  <br />
                            ОГРН 1127747076500
                        </div>
                        <div class="legal-adress office-texter"> Юридический адрес: <br /> 119530, Москва, Очаковское шоссе, д.34  </div>
                    </div>
                </div>
                <div class="form-block">
                    <form class="contact-form-contact">
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_name" required="required" placeholder="Имя">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_second" required="required"  placeholder="Фамилия">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_tel"  required="required" placeholder="Ваш номер" class="tel-mask">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <textarea type="text" name="contact_tel"  required="required" placeholder="Сообщение"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <button type="submit" class="contact-submit">
                                    <span>Отправить </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map animate-delay">
        <div id="mapInit">
        </div>
    </div>
</div>