<!-- FOOTER -->
<div class="footer_placeholder"></div>

<footer class="footer">
    <div class="contacts-wrap-main">
        <div class="contact-box-main">
            <div class="title-contact-main"><h2>контакты</h2></div>
            <div class="contact-description-main cfix">
                <div class="offices-main cfix">
                    <div class="central-office-main office-description-main cfix">
                        <div class="title-office-main"> Центральный офис </div>
                        <div class="office-adress-main office-texter-main"> Адрес: <br /> 119530, г. Москва, <br /> Очаковское шоссе, д. 34.</div>
                        <div class="office-tel-main office-texter-main">
                            Тел./факс: <br />
                            <a href="callto&#58;+74957925205">+7 (495) 792-52-05  </a> <br />
                            <a href="callto&#58;+74997450333">+7 (499) 745-03-33 </a>
                        </div>
                        <div class="office-mail-main office-texter-main" >
                            E-mail: <br />
                            <a href="mailto:info@3age.ru">info@3age.ru </a>
                        </div>
                    </div>
                    <div class="residence-office-main office-description-main cfix">
                        <div class="title-office-main "> Резиденции «Рублево-Мякинино» </div>
                        <div class="office-adress-main office-texter-main"> Адрес: <br /> г. Москва, ул. 3-я Мякининская, д. 12</div>
                        <div class="office-tel-main office-texter-main"> Тел./факс: <br />
                            <a href="callto&#58;+74956020257" >+ 7 (495) 602-02-57 </a>
                        </div>
                        <div class="office-mail-main office-texter-main"> E-mail:<br />
                            <a href="mailto:info@3age.ru" >info@3age.ru </a>
                        </div>
                        <div class="office-bank-main office-texter-main">
                            ОАО "Третий Возраст" <br />
                            a ИНН 7729722769  <br />
                            КПП 772901001  <br />
                            ОГРН 1127747076500
                        </div>
                        <div class="legal-adress-main office-texter-main"> Юридический адрес: <br /> 119530, Москва, Очаковское шоссе, д.34  </div>
                    </div>
                </div>
                <div class="soc-seti">
                    <a href="">
                        <img src="images/ggggg.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/sdfsdf.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/fffff.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="map-main animate-delay">
            <div id="mapInit2"></div>
        </div>
    </div>

</footer>

<div class="call-button-fixed">
    <a href="#">
        <span class="call-button-fixed-text">позвонить</span>
        <span class="call-button-fixed-icon">
            <img src="images/call-button-fixed-icon.png" alt="" />
        </span>
    </a>
</div>

<!-- FOOTER -->

<!-- SCRIPTS -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
</body>
</html>