<div class="fotogalery-wrap">
    <div class="fotogalery-align mbox">
        <div class="title">
            <h1>фотогалерея</h1>
        </div>
        <div class="item">
            <div class="item-title">
                <p>«Апартаменты для независимых резидентов»</p>
            </div>
            <div class="item-slider">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <p>«Апартаменты для зависимых резидентов»</p>
            </div>
            <div class="item-slider">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <p>«Обеденная комната»</p>
            </div>
            <div class="item-slider">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <p>«Комната отдыха»</p>
            </div>
            <div class="item-slider">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <p>«Комната эстетических услуг»</p>
            </div>
            <div class="item-slider">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <p>«Лаундж-зона»</p>
            </div>
            <div class="item-slider">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/slide1.jpg"><img src="images/slide1.jpg" alt=""></a></div></div>
            </div>
        </div>
    </div>
</div>