<div class="mbox">

    <!-- here is title -->

    <div class="title-main title-top">
        Полезно знать
    </div>

    <!-- /here is title -->

</div>

<div class="list-big knowledge-list-big">

    <div class="list-item">
        <div class="mbox">
            <div class="text-block">
                <h6>
                    <span>Роль болезни Паркинсона в жизни пожилых людей и важность ухода за такими людьми</span>
                </h6>
                <p>Болезнь Паркинсона — хроническая патология головного мозга, чаще развивается у лиц пожилого возраста и сопровождается поражением отделов ЦНС, ответственных за координацию движений и тонус мышц.</p>
            </div>
            <div class="list-item-footer">
                <div class="text-block-comebackLink right-link">
                    <a href="#">
                        <span>Смотреть полностью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-item">
        <div class="mbox">
            <div class="text-block">
                <h6>
                    <span>Забота о людях со старческой деменцией и о тех, кто перенес инсульт</span>
                </h6>
                <p>Инсульт, как и старческая деменция, — это не только серьезная проблема со здоровьем человека, но и источник тревог ближайших родственников. Деменция (или старческое слабоумие) может развиваться постепенно и незаметно, а может стать последствием перенесенного инсульта. В свою очередь, инсульт является острым нарушением кровообращения головного мозга. Его осложнения — нарушение двигательных функций, речи, мышления.</p>
            </div>
            <div class="list-item-footer">
                <div class="text-block-comebackLink right-link">
                    <a href="#">
                        <span>Смотреть полностью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-item">
        <div class="mbox">
            <div class="text-block">
                <h6>
                    <span>Роль болезни Паркинсона в жизни пожилых людей и важность ухода за такими людьми</span>
                </h6>
                <p>Болезнь Паркинсона — хроническая патология головного мозга, чаще развивается у лиц пожилого возраста и сопровождается поражением отделов ЦНС, ответственных за координацию движений и тонус мышц.</p>
            </div>
            <div class="list-item-footer">
                <div class="text-block-comebackLink right-link">
                    <a href="#">
                        <span>Смотреть полностью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-item">
        <div class="mbox">
            <div class="text-block">
                <h6>
                    <span>Забота о людях со старческой деменцией и о тех, кто перенес инсульт</span>
                </h6>
                <p>Инсульт, как и старческая деменция, — это не только серьезная проблема со здоровьем человека, но и источник тревог ближайших родственников. Деменция (или старческое слабоумие) может развиваться постепенно и незаметно, а может стать последствием перенесенного инсульта. В свою очередь, инсульт является острым нарушением кровообращения головного мозга. Его осложнения — нарушение двигательных функций, речи, мышления.</p>
            </div>
            <div class="list-item-footer">
                <div class="text-block-comebackLink right-link">
                    <a href="#">
                        <span>Смотреть полностью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-item">
        <div class="mbox">
            <div class="text-block">
                <h6>
                    <span>Роль болезни Паркинсона в жизни пожилых людей и важность ухода за такими людьми</span>
                </h6>
                <p>Болезнь Паркинсона — хроническая патология головного мозга, чаще развивается у лиц пожилого возраста и сопровождается поражением отделов ЦНС, ответственных за координацию движений и тонус мышц.</p>
            </div>
            <div class="list-item-footer">
                <div class="text-block-comebackLink right-link">
                    <a href="#">
                        <span>Смотреть полностью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-item">
        <div class="mbox">
            <div class="text-block">
                <h6>
                    <span>Забота о людях со старческой деменцией и о тех, кто перенес инсульт</span>
                </h6>
                <p>Инсульт, как и старческая деменция, — это не только серьезная проблема со здоровьем человека, но и источник тревог ближайших родственников. Деменция (или старческое слабоумие) может развиваться постепенно и незаметно, а может стать последствием перенесенного инсульта. В свою очередь, инсульт является острым нарушением кровообращения головного мозга. Его осложнения — нарушение двигательных функций, речи, мышления.</p>
            </div>
            <div class="list-item-footer">
                <div class="text-block-comebackLink right-link">
                    <a href="#">
                        <span>Смотреть полностью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


