<div class="mbox">

    <!-- here is title -->

    <div class="title-main title-top">
        Полезно знать
    </div>

    <!-- /here is title -->

    <div class="text-block knowledge-text">

        <h6>
            <span>Роль болезни Паркинсона в жизни пожилых людей и важность ухода за такими людьми</span>
        </h6>
        <p>Болезнь Паркинсона — хроническая патология головного мозга, чаще развивается у лиц пожилого возраста и сопровождается поражением отделов ЦНС, ответственных за координацию движений и тонус мышц.</p>
        <br />
        <p>
            <b>У страдающих этим нарушением наблюдаются:</b>
        </p>
        <br />
        <ul>
            <li>мышечная скованность и слабость</li>
            <li>изменение почерка</li>
            <li>тремор (дрожь) конечностей, непроизвольные движения кистей и пальцев</li>
            <li>нарушение осанки, сутулость</li>
            <li>изменение походки</li>
            <li>нарушение равновесия</li>
            <li>изменения в поведении (периоды апатии чередуются с приступами агрессии)</li>
            <li>частые перемены настроения (раздражительность, плаксивость, суицидальные настроения)</li>
            <li>повышенная утомляемость</li>
            <li>затруднение жевания и глотания, слюнотечение</li>
            <li>тихая монотонная речь</li>
            <li>безучастное выражение лица</li>
            <li>запоры и задержка мочеиспускания</li>
            <li>психоз, галлюцинации</li>
        </ul>
        <br />
        <p>
            <b>Уход за людьми с болезнью Паркинсона включает:</b>
        </p>
        <br />
        <ul>
            <li>психологическую поддержку и мягкое обращение</li>
            <li>поддержание физической активности (физкультура)</li>
            <li>полноценное питание</li>
            <li>обеспечение безопасности</li>
            <li>сохранение социальных контактов и трудовой активности</li>
            <li>применение особых приспособлений для повседневных дел (специальные столовые принадлежности, расческа, бритва)</li>
            <li>обеспечение профилактики запоров (обильное питье, свежие овощи и фрукты)</li>
            <li>контроль медикаментозного лечения</li>
        </ul>
        <p>Уход за больным можно осуществлять в домашних условиях, привлекать сиделок и медсестер. Также для таких людей созданы все условия в специальных учреждениях, где им оказывается медпомощь и полноценный уход, они окружены постоянным вниманием и заботой.</p>

    </div>

    <div class="text-block-comebackLink">
        <a href="#">
            <span>Вернуться</span>
        </a>
    </div>


</div>