<div class="mbox">

    <!-- here is title -->

    <div class="title-main title-top">
        услуги
    </div>

    <!-- /here is title -->

</div>

<div class="list-block list-block-services">

    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/text-img1.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Выходные для людей старшего поколения</span>
                    </h6>
                    <p>Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения» и доверить нам заботу о своих близких. В резиденциях премиум-класса созданы оптимальные условия для их отдыха и реабилитации</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img6.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span> Отдых для людей старшего поколения</span>
                    </h6>
                    <p>Территориально резиденции премиум-класса находятся в элитном экологически чистом районе столицы. В любое время ваши родные смогут здесь комфортно отдохнуть с пользой для здоровья.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img3.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Уход после инсульта</span>
                    </h6>
                    <p>Людям, перенесшим инсульт, требуется специальный уход и поддержка. У нас они будут находиться под пристальным медицинским присмотром, программы индивидуальной реабилитации помогут им быстрее восстановиться.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img4.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Уход</span>
                    </h6>
                    <p>Резиденции оказывают услуги премиум-класса по уходу, в том числе, за лежачими больными. Мы предлагаем людям старшего поколения комфортные условия размещения, ненавязчивый сервис, помощь в самообслуживании и лучший медицинский персонал.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img5.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Сестры заботы</span>
                    </h6>
                    <p>В наших резиденциях уход за людьми старшего поколения организован на высшем уровне. Здесь работают сестры заботы со стажем, которые прошли специальный курс по уходу за людьми старшего поколения. Индивидуальный патронаж может включать широкий спектр услуг.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img2.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Пакет услуг «Оптимум»</span>
                    </h6>
                    <p>Вы можете воспользоваться услугами наших резиденций в любой удобной форме. Мы также предлагаем наиболее рациональное их сочетание в рамках пакета «Оптимум». Данная программа включает широкий перечень мероприятий по уходу, реабилитации и досугу для людей старшего поколения.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img5.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Дополнительный пакет сервиса «101 роза»</span>
                    </h6>
                    <p>В наших резиденциях уход за людьми старшего поколения организован на высшем уровне. Здесь работают сестры заботы со стажем, которые прошли специальный курс по уходу за людьми старшего поколения. Индивидуальный патронаж может включать широкий спектр услуг.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img2.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Фирменное меню</span>
                    </h6>
                    <p>Одно из достоинств наших резиденций — ресторан с уникальными кулинарными шедеврами от шеф-повара Андрея Щербакова. Здесь вам предложат адаптированное для людей старшего поколения шестиразовое питание, разработанное совместно с диетологами.</p>
                </div>
                <div class="list-block-footer list-block-link-wrap">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>