<div class="mbox">

    <!-- here is title -->

    <div class="title-main title-top">
        Программы
    </div>

    <!-- /here is title -->

</div>

<div class="list-block list-block-program">
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img1.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Ребилитация</span>
                    </h6>
                    <p>Программа « Реабилитация» предназначена для людей старшего поколения с ограниченными возможностями (в т.ч. лежачих), а также людей перенесших или имеющих тяжелые заболевания, которые не требуют интенсивного медицинского вмешательства и лечения. Профессиональное медицинское наблюдение и заботливый уход позволят восстановить утраченные функции организма и бытовые навыки.</p>
                </div>
                <div class="list-block-footer list-block-buttons-wrap">
                    <div class="list-block-button-item">
                        <a href="#" class="button">
                            <span>Получить прайс-лист</span>
                        </a>
                    </div>
                    <div class="list-block-button-item">
                        <a href="#" class="button orange-full">
                            <span>Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img2.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Уход</span>
                    </h6>
                    <p>Мы обеспечиваем индивидуальный уход за резидентами с учетом их возраста, диагноза, состояния подвижности. Мы применяем передовые французские практики для патронажа за пожилыми людьми с любой формой деменции, в том числе с болезнью Альцгеймера. Уход включает в себя комплекс мероприятий, обеспечивающих отличное физическое самочувствие и душевное равновесие</p>
                </div>
                <div class="list-block-footer list-block-buttons-wrap">
                    <div class="list-block-button-item">
                        <a href="#" class="button">
                            <span>Получить прайс-лист</span>
                        </a>
                    </div>
                    <div class="list-block-button-item">
                        <a href="#" class="button orange-full">
                            <span>Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img3.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Молодые пожилые</span>
                    </h6>
                    <p>Программа « Реабилитация» предназначена для людей старшего поколения с ограниченными возможностями (в т.ч. лежачих), а также людей перенесших или имеющих тяжелые заболевания, которые не требуют интенсивного медицинского вмешательства и лечения. Профессиональное медицинское наблюдение и заботливый уход позволят восстановить утраченные функции организма и бытовые навыки.</p>
                </div>
                <div class="list-block-footer list-block-buttons-wrap">
                    <div class="list-block-button-item">
                        <a href="#" class="button">
                            <span>Получить прайс-лист</span>
                        </a>
                    </div>
                    <div class="list-block-button-item">
                        <a href="#" class="button orange-full">
                            <span>Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img4.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Группа дневного прибывания</span>
                    </h6>
                    <p>Мы предлагаем активно и с пользой провести время в наших резиденциях в течение дня. Познакомиться с интересными людьми, поучаствовать в развлекательных программах, получить консультацию специалистов, воспользоваться услугами соляной и свето-арома комнаты и отведать блюда нашего знаменитого шеф-повара!</p>
                </div>
                <div class="list-block-footer list-block-buttons-wrap">
                    <div class="list-block-button-item">
                        <a href="#" class="button">
                            <span>Получить прайс-лист</span>
                        </a>
                    </div>
                    <div class="list-block-button-item">
                        <a href="#" class="button orange-full">
                            <span>Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-block-item">
        <div class="mbox">
            <div class="list-block-img">
                <img src="images/list-block-img5.jpg" alt="" />
            </div>
            <div class="list-block-text">
                <div class="text-block">
                    <h6>
                        <span>Наш сервис превзойдет ваши ожидания!</span>
                    </h6>
                    <p>Уникальный сервис «101 роза»</p>
                    <p>Мы предоставляем сервис премиум-класса! Требуется ли Вам консультация врача-специалиста в любой области или доставка живых цветов в номер точно ко времени, мы выполним любое пожелание клиента качественно и в срок.</p>
                </div>
                <div class="list-block-footer list-block-buttons-wrap">
                    <div class="list-block-button-item">
                        <a href="#" class="button">
                            <span>Получить прайс-лист</span>
                        </a>
                    </div>
                    <div class="list-block-button-item">
                        <a href="#" class="button orange-full">
                            <span>Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>