<div class="main-top-second">
    <div class="mbox">
        <div class="main-top-second-logo">
            <img src="images/main-top-first.png" alt="">
        </div>
        <div class="main-top-second-title"> <h1>третий возраст</h1></div>
        <div class="main-top-second-subtitle">Мы стремимся обеспечить высокие стандарты качества сервиса и профессионального ухода за людьми старшего поколения, чтобы те, о ком мы заботимся, могли чувствовать себя как дома. Мы ценим и уважаем индивидуальность, независимость и достоинство каждого резидента.</div>
    </div>
</div>