<div class="main-our-mission">
    <div class="mbox">

        <div class="our-mission-wrap-top-text">

            <!-- here is title -->

            <div class="title-main">
                <h2>Наша Мисия</h2>
            </div>

            <!-- /here is title -->


            <div class="our-mission-small-text">Мы стремимся обеспечить высокие стандарты качества сервиса и профессионального ухода за людьми старшего поколения, чтобы те, о ком мы заботимся, могли чувствовать себя как дома. Мы ценим и уважаем индивидуальность, независимость и достоинство каждого резидента.</div>
            <div class="our-mission-orange-text">
                <div class="our-mission-orange-text-wrap">Мы создаем уют и тепло домашнего очага даже далеко от дома</div>
            </div>
            <div class="our-mission-big-text">
                Отдых для ваших родителей в резиденциях премиум-класса <span>«Третий Возраст»</span>
            </div>
            <div class="our-mission-gray-text">- это особого рода подарок, который выражает Вашу любовь, уважение и благодарность</div>
            <div class="our-mission-small-gray-bold-text">Вы можете быть спокойны  и уверены, что ваши близкие будут счастливы, потому что:</div>
        </div>

        <div class="our-mission-blocks-wrap">
            <div class="our-mission-blocks">

                <div class="our-mission-block-item">
                    <div class="our-mission-block-item-wrap">
                        <div class="our-mission-block-item-title">
                            <span>Мы профессионалы своего дела</span>
                        </div>
                        <div class="our-mission-block-item-text">Вы доверяете ваших родителей профессионалам своего дела</div>
                    </div>
                </div>
                <div class="our-mission-block-item">
                    <div class="our-mission-block-item-wrap">
                        <div class="our-mission-block-item-title">
                            <span>Мы создаем для них атмосферу</span>
                        </div>
                        <div class="our-mission-block-item-text">Мы создаем для них неподдельную атмосферу дома, уюта и тепла</div>
                    </div>
                </div>
                <div class="our-mission-block-item">
                    <div class="our-mission-block-item-wrap">
                        <div class="our-mission-block-item-title">
                            <span>Мы принимаем каждого человека</span>
                        </div>
                        <div class="our-mission-block-item-text">Мы принимаем каждого человека со всей его богатой жизненной мудростью и воспринимаем как глубокую личность</div>
                    </div>
                </div>
                <div class="our-mission-block-item">
                    <div class="our-mission-block-item-wrap">
                        <div class="our-mission-block-item-title">
                            <span>Мы создаем особые условия для каждого резидента</span>
                        </div>
                        <div class="our-mission-block-item-text">Мы создаем все возможные условия для поддержания индивидуальной, независимой и активной жизни для каждого резидента</div>
                    </div>
                </div>
                <div class="our-mission-block-item">
                    <div class="our-mission-block-item-wrap">
                        <div class="our-mission-block-item-title">
                            <span>Оправдываем все ожидания</span>
                        </div>
                        <div class="our-mission-block-item-text">Оправдываем ожидания наших  резидентов во всех вопросах, опираясь, прежде всего, на добросовестное, заботливое и профессиональное обращение</div>
                    </div>
                </div>
                <div class="our-mission-block-item">
                    <div class="our-mission-block-item-wrap">
                        <div class="our-mission-block-item-title">
                            <span>Мы создаем особые условия для каждого резидента</span>
                        </div>
                        <div class="our-mission-block-item-text">Поддерживаем и помогаем резидентам осознать «третий возраст» их жизни как этап активного долголетия!</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>