<div class="main-top-first">
    <div class="mbox">
        <div class="main-top-first-wrap">
            <div class="main-top-first-logo">
                <img src="images/main-top-first.png" alt="">
            </div>
            <div class="main-top-first-top-text">Проживание, социальная реабилитация, забота</div>
            <div class="main-top-first-center-text">
                <h1>Резиденция <span>премиум класса</span></h1>
            </div>
            <!-- <div class="main-top-first-bottom-text">премиум класса</div> -->
            <div class="main-top-first-button">
                <a href="#">
                    <span>Записатся на экскурсию</span>
                    <span class="icon icon-arrow"></span>
                </a>
            </div>
        </div>
    </div>
</div>