<div class="main-like-massonry">
    <div class="main-like-massonry-wrap cfix">
        <div class="mlm-row row-1">
            <div class="mlm-item item-1 mlm-height-normal" data-height-normal="0.489">
                <div class="mlm-item-texting" >
                    <div class="mlm-title"><h2><a href="#">Резиденции</a></h2></div>
                    <div class="mlm-name">«Рублево-Мякинино»</div>
                    <div class="mlm-description">главный корпус </div>
                </div>
            </div>
            <div class="mlm-item item-2 mlm-height-normal" data-height-normal="0.665">
                <a href="images/mlm-item-2.jpg" class="mlm-item-masonry">
                    <img src="images/mlm-item-2.jpg" alt="" >
                </a>
                <div class="mlm-item-descript">
                    <p>Апартаменты для независимых резидентов</p>
                </div>
            </div>
            <div class="mlm-item item-3 mlm-height-normal" data-height-normal="0.826">
                <a href="images/mlm-item-3.jpg" class="mlm-item-masonry">
                    <img src="images/mlm-item-3.jpg" alt="" >
                </a>
            </div>
        </div>
        <div class="mlm-row row-2">
            <div class="mlm-item item-4 mlm-height-normal " data-height-normal="0.9375">
                <div class="mlm-item-orange">
                    <div class="mlm-item-orange-italic">
                        Роскошные резиденции премиум-класса с видом на бухту Живописная Москвы-реки
                    </div>
                    <div class="mlm-item-orange-description">
                        Апартаменты с дизайнерской отделкой, балконы и террасы с панорамным видом и чуткое отношение персонала – вот что делает нахождение в резиденциях «Третий Возраст приятным и комфортным. Здесь созданы все условия для респектабельного отдыха и восстановления здоровья людей третьего возраста: резиденты могут интересно провести время, пообщаться со своими сверстниками
                    </div>
                </div>
                <div class="mlm-960-show cfix">
                    <a href="images/mlm-item-5-960.jpg" class="mlm-item-masonry item-1">
                        <img src="images/mlm-item-5-960.jpg" alt="">
                    </a>
                    <a href="images/mlm-item-5-960.jpg" class="mlm-item-masonry item-2">
                        <img src="images/mlm-item-7-960.jpg" alt="">
                    </a>
                </div>
                <div class="mlm-768-show">
                    <div class="mlm-row-small cfix">
                        <div class="mlm-item-aside">
                            <div class="mlm-item-small">
                                <a href="images/mlm-item-2.jpg" class="mlm-item-masonry">
                                    <img src="images/mlm-item-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="mlm-item-small">
                                <a href="images/mlm-item-3.jpg" class="mlm-item-masonry">
                                    <img src="images/mlm-item-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="mlm-item-descript">
                                <p>Апартаменты для независимых резидентов</p>
                            </div>
                        </div>
                        <div class="mlm-item-aside">
                            <div class="mlm-item-small">
                                <a href="images/mlm-item-5.jpg" class="mlm-item-masonry">
                                    <img src="images/mlm-item-5.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mlm-row-small">
                        <div class="mlm-item-small">
                            <a href="images/mlm-item-6.jpg" class="mlm-item-masonry">
                                <img src="images/mlm-item-6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="mlm-row-small">
                        <div class="mlm-item-small">
                            <a href="images/mlm-item-7.jpg" class="mlm-item-masonry">
                                <img src="images/mlm-item-7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mlm-item item-5 mlm-height-normal" data-height-normal="1.494">
                <a href="images/mlm-item-5.jpg" class="mlm-item-masonry">
                    <img src="images/mlm-item-5.jpg" alt="" class="">
                </a>
            </div>
        </div>
        <div class="mlm-row row-3">
            <div class="mlm-item item-6 mlm-height-normal" data-height-normal="0.665">
                <a href="images/mlm-item-6.jpg" class="mlm-item-masonry">
                    <img src="images/mlm-item-6.jpg" alt="" class="">
                </a>
            </div>
            <div class="mlm-item item-7 mlm-height-normal" data-height-normal="0.828">
                <a href="images/mlm-item-7.jpg" class="mlm-item-masonry">
                    <img src="images/mlm-item-7.jpg" alt="" class="">
                </a>
            </div>
        </div>
        <div class="look_more">
            <a href="#"><span>Смотреть все фото  →</span></a>
        </div>
    </div>
</div>