<div class="our-team-new">
    <div class="mbox">

        <!-- here is title -->

        <div class="title-main">
            Наша команда
        </div>

        <!-- /here is title -->

        <div class="our-team-new-main">

            <div class="our-team-item">
                <div class="our-team-item-img">
                    <span>
                        <img src="images/our-team-new-img1.jpg" alt="" />
                    </span>
                </div>
                <div class="our-team-new-title">РАМИЛ УСМАНОВИЧ ХАБРИЕВ</div>
                <div class="our-team-new-text">Основатель, Член Совета Директоров ОАО «Третий Возраст»</div>
            </div>
            <div class="our-team-item">
                <div class="our-team-item-img">
                    <span>
                        <img src="images/our-team-new-img2.jpg" alt="" />
                    </span>
                </div>
                <div class="our-team-new-title">СЕРГЕЙ АНАТОЛЬЕВИЧ КРИВОШЕЕВ</div>
                <div class="our-team-new-text">Основатель, Член Совета Директоров ОАО «Третий Возраст»</div>
            </div>
            <div class="our-team-item">
                <div class="our-team-item-img">
                    <span>
                        <img src="images/our-team-new-img3.jpg" alt="" />
                    </span>
                </div>
                <div class="our-team-new-title">Малышева Елена Ивановна</div>
                <div class="our-team-new-text">Генеральный директор ОАО «Третий Возраст»</div>
            </div>
            <div class="our-team-item">
                <div class="our-team-item-img">
                    <span>
                        <img src="images/our-team-new-img4.jpg" alt="" />
                    </span>
                </div>
                <div class="our-team-new-title">Гресь Светлана Петровна</div>
                <div class="our-team-new-text">Руководитель резиденции «Третий возраст»</div>
            </div>
            <div class="our-team-item">
                <div class="our-team-item-img">
                    <span>
                        <img src="images/our-team-new-img5.jpg" alt="" />
                    </span>
                </div>
                <div class="our-team-new-title">Похотько Ирина Георгиевна</div>
                <div class="our-team-new-text">Главный врач резиденции</div>
            </div>
            <div class="our-team-item">
                <div class="our-team-item-img">
                    <span>
                        <img src="images/our-team-new-img6.jpg" alt="" />
                    </span>
                </div>
                <div class="our-team-new-title">Андрей Щербаков</div>
                <div class="our-team-new-text">Шеф-повар резиденции</div>
            </div>

        </div>

        <div class="our-team-new-more">
            <div class="text-block-comebackLink right-link">
                <a href="#">
                    <span>подробнее</span>
                </a>
            </div>
        </div>

    </div>
</div>