<div class="our-team-slider">
    <div class="mbox">
        <div class="our-team-slider-wrap">
            <div class="team-title">ПЕРСОНАЛ РЕЗИДЕНЦИИ</div>
        </div>
        <div class="our-team-slids">
            <div class="our-team-slide">
                <a href="images/our-team-slids-1.jpg" class="fancybox" rel="galllery-team-slider">
                    <img src="images/our-team-slids-1.jpg" alt="">
                </a>
            </div>
            <div class="our-team-slide">
                <a href="images/our-team-slids-2.jpg" class="fancybox" rel="galllery-team-slider">
                    <img src="images/our-team-slids-2.jpg" alt="">
                </a>
            </div>
            <div class="our-team-slide">
                <a href="images/our-team-slids-3.jpg" class="fancybox" rel="galllery-team-slider">
                    <img src="images/our-team-slids-3.jpg" alt="">
                </a>
            </div>
            <div class="our-team-slide">
                <a href="images/our-team-slids-1.jpg" class="fancybox" rel="galllery-team-slider">
                    <img src="images/our-team-slids-1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>