<div class="team-wrap">
    <div class="">
        <div class="team-box">
            <div class="team-title mbox"> команда </div>

            <div class="description-block">

                <div class="team-item ">
                    <div class="mbox">
                        <div class="left-box ">
                            <div class="for-table-fix">
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img1.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="right-box cfix">
                            <div class="content">
                                <div class="title-name">РАМИЛ УСМАНОВИЧ ХАБРИЕВ</div>
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img1.jpg" alt="">
                                </div>
                                <div class="sub-title">Основатель, Председатель Совета Директоров ОАО «Третий Возраст»</div>
                                <div class="who-am-i">
                                    <i> Академик РАН, профессор, доктор медицинских наук, доктор фармацевтических наук, заслуженный врач Российской Федерации и Республики Татарстан.</i>
                                    <p> <span>1989-1994</span> – министр здравоохранения Республики Татарстан. </p>
                                    <p> <span>1994-2002</span> – работал в Министерстве здравоохранения РФ. </p>
                                    <p> <span>2004-2007</span> – руководитель Федеральной службы по надзору в сфере здравоохранения и социального развития. </p>
                                    <p> <span>2007-2009</span> – заместитель директора Департамента социального развития Правительства РФ. </p>
                                    <p> <span>2009-2013</span> – Первый проректор ГОУ ВПО «Российский национальный исследовательский медицинский университет им. Н.И.Пирогова». </p>
                                    <p> С 2013 года и по настоящее время директор ФГБНУ «Национальный НИИ общественного здоровья имени Н.А.Семашко». </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item ">
                    <div class="mbox">
                        <div class="left-box ">
                            <div class="for-table-fix">
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img2.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="right-box cfix">
                            <div class="content">
                                <div class="title-name">СЕРГЕЙ АНАТОЛЬЕВИЧ КРИВОШЕЕВ </div>
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img2.jpg" alt="">
                                </div>
                                <div class="sub-title">Основатель, Член Совета Директоров ОАО «Третий Возраст»</div>
                                <div class="who-am-i">
                                    <p> <span>1991-2013 </span>- основатель ОАО «Аптечная сеть «36,6», ОАО «Верофарм».</p>
                                    <p> С 2007 г. заведующий кафедрой организации и экономики фармации фармацевтического факультета Первого МГМУ имени И.М.Сеченова, профессор, доктор фармацевтических наук. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item ">
                    <div class="mbox">
                        <div class="left-box ">
                            <div class="for-table-fix">
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="right-box cfix">
                            <div class="content">
                                <div class="title-name">Малышева Елена Ивановна </div>
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img3.jpg" alt="">
                                </div>
                                <div class="sub-title">Генеральный директор ОАО «Третий Возраст»</div>
                                <div class="who-am-i">
                                    <i> Лауреат премии «Лучший руководитель года – 2015». </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item ">
                    <div class="mbox">
                        <div class="left-box ">
                            <div class="for-table-fix">
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img4.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="right-box cfix">
                            <div class="content">
                                <div class="title-name">Гресь Светлана Петровна </div>
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img4.jpg" alt="">
                                </div>
                                <div class="sub-title">Руководитель резиденции «Третий возраст»</div>
                                <div class="who-am-i">
                                    <i> Лауреат премии «Лучший руководитель года – 2015».</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item ">
                    <div class="mbox">
                        <div class="left-box ">
                            <div class="for-table-fix">
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img5.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="right-box cfix">
                            <div class="content">
                                <div class="title-name">Похотько Ирина Георгиевна </div>
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img5.jpg" alt="">
                                </div>
                                <div class="sub-title">Главный врач резиденции</div>
                                <div class="who-am-i">
                                    <p> <span> Опыт работы: </span> </p>
                                    <p> <span>1992-2010</span>  – главный врач Санатория им. Горького 4-го главного управления при МЗ РСФСР, Минсоцзащиты населения РФ, Минтруда России, Росздрава, Минздравсоцразвития России. </p>
                                    <p> <span>1994-2002</span> – работал в Министерстве здравоохранения РФ. </p>
                                    <p> <span> 2010-2012 </span> – заместитель начальника отдела Филиала ГУ Московского регионального отделения Фонда Социального страхования Российской Федерации </p>
                                    <p> <span>2007-2009</span> – заместитель директора Департамента социального развития Правительства РФ. </p>
                                    <p> <span>2012-2014 </span> – Главный врач Обособленного структурного подразделения – Российский геронтологический научно – клинический центр ГБОУ ВПО РНИМУ им. Н. И. Пирогова– Первый проректор ГОУ ВПО «Российский национальный исследовательский медицинский университет им. Н.И.Пирогова». </p>
                                    <p> <span> Дополнительные данные: </span></p>
                                    <p> За добросовестный труд присвоено звание «Заслуженный врач», награждена нагрудным знаком «Почетный работник Минтруда России». </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item ">
                    <div class="mbox">
                        <div class="left-box ">
                            <div class="for-table-fix">
                                <div class="conteiner-team">
                                    <img src="images/our-team-new-img6.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="right-box cfix">
                            <div class="content">
                                <div class="title-name">Похотько Ирина Георгиевна </div>
                                 <div class="conteiner-team">
                                    <img src="images/our-team-new-img6.jpg" alt="">
                                </div>
                                <div class="sub-title">Главный врач резиденции</div>
                                <div class="who-am-i">
                                    <p> <span> Опыт работы: </span> </p>
                                    <p> <span>1992-2010</span>  – главный врач Санатория им. Горького 4-го главного управления при МЗ РСФСР, Минсоцзащиты населения РФ, Минтруда России, Росздрава, Минздравсоцразвития России. </p>
                                    <p> <span>1994-2002</span> – работал в Министерстве здравоохранения РФ. </p>
                                    <p> <span> 2010-2012 </span> – заместитель начальника отдела Филиала ГУ Московского регионального отделения Фонда Социального страхования Российской Федерации </p>
                                    <p> <span>2007-2009</span> – заместитель директора Департамента социального развития Правительства РФ. </p>
                                    <p> <span>2012-2014 </span> – Главный врач Обособленного структурного подразделения – Российский геронтологический научно – клинический центр ГБОУ ВПО РНИМУ им. Н. И. Пирогова– Первый проректор ГОУ ВПО «Российский национальный исследовательский медицинский университет им. Н.И.Пирогова». </p>
                                    <p> <span> Дополнительные данные: </span></p>
                                    <p> За добросовестный труд присвоено звание «Заслуженный врач», награждена нагрудным знаком «Почетный работник Минтруда России». </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>