<div class="paginator">
    <div class="mbox">

        <div class="paginator-desktop">

            <div class="prev-paginator">
                <a href="#">Предыдущая</a>
            </div>
            <div class="paginator-list">
                <ul>
                    <li>
                        <span>
                            <a href="#">1</a>
                        </span>
                    </li>
                    <li>
                        <span class="active">
                            2
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">3</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">4</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="next-paginator">
                <a href="#">Следующая</a>
            </div>
        </div>

        <div class="paginator-mobile">

            <a href="#" class="paginator-mobile-main">
                <span class="paginator-mobile-wrap">
                    <span class="paginator-mobile-text">Смотреть больше</span>
                    <span class="paginator-mobile-icon"></span>
                </span>
            </a>

        </div>

    </div>
</div>