<div class="mbox">

    <!-- here is title -->

    <div class="title-main title-top">
        Партнеры
    </div>

    <!-- /here is title -->

</div>

<div class="partners-list-wrap">

    <div class="mbox">
        <div class="partners-list-title">СТРАТЕГИЧЕСКИЕ ПАРТНЕРЫ</div>
    </div>

    <div class="list-big partners-list-big">
        <div class="list-item">
            <div class="mbox">
                <div class="partners-left">
                    <img src="images/partners-list-img1.png" alt="" />
                </div>
                <div class="partners-right">
                    <div class="text-block">
                        <h6>
                            <span>Агентство Стратегических Инициатив» признало проект ОАО «Третий Возраст» по созданию и эксплуатации сети частных резиденций для людей старшего поколения лидерским</span>
                        </h6>
                        <p>Проект одобрен экспертным советом Агентства.</p>
                        <br>
                        <p>Агентство создано для исполнений поручений В.В. Путина от 17 мая 2011 г., где он является Председателем наблюдательного совета.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="mbox">
                <div class="partners-left">
                    <img src="images/partners-list-img2.png" alt="" />
                </div>
                <div class="partners-right">
                    <div class="text-block">
                        <h6>
                            <span>«Объединенная больница с поликлиникой Управления делами Президента РФ»</span>
                        </h6>
                        <p>Достигнуты соглашения о партнерстве с ФГБУ «Объединенная больница с поликлиникой Управления делами Президента РФ»</p>
                        <br />
                        <p>Объединенная больница с поликлиникой основана в 1976 году и является одним из ведущих медицинских учреждений Управления делами Президента Российской Федерации.</p>
                        <br />
                        <p>К услугам резидентов многопрофильный стационар с палатами повышенной комфортности и поликлиника с высокопрофессиональным медицинским персоналом.</p>
                        <br />
                        <br />
                        <p>В стационаре действуют отделения общей терапии, неотложной кардиологии с блоком интенсивной терапии, общей кардиологии, неврологии, хирургии, травматологии с ортопедией, урологии, гинекологии, экстракорпоральных методов лечения, гастроэнтерологии и всех методов диагностики.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners-list-wrap">

    <div class="mbox">
        <div class="partners-list-title">ПАРТНЕРЫ ПО ПРОГРАММЕ ЛОЯЛЬНОСТИ</div>
    </div>

    <div class="list-big partners-list-big">
        <div class="list-item">
            <div class="mbox">
                <div class="partners-left">
                    <img src="images/partners-list-img3.png" alt="" />
                </div>
                <div class="partners-right">
                    <div class="text-block">
                        <h6>
                            <span>ГРУППА КЛИНИК «КЛАЗКО»</span>
                        </h6>
                        <p class="black-color">Группа клиник «Клазко» предоставляет широчайший спектр услуг в области пластической хирургии, эстетической косметологии и такого перспективного направления, как anti-age медицина.</p>
                        <br />
                        <p>Это лучшие специалисты: высококвалифицированные косметологи – доктора и кандидаты медицинских наук, эксперты антивозрастной медицины – авторы многих уникальных методик и знаменитые хирурги, за плечами которых многолетний практический опыт и тысячи блистательных операций.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="mbox">
                <div class="partners-left">
                    <img src="images/partners-list-img4.png" alt="" />
                </div>
                <div class="partners-right">
                    <div class="text-block">
                        <h6>
                            <span>ГРУППА КЛИНИК «ЦЕНТР ЭСТЕТИЧЕСКОЙ СТОМАТОЛОГИИ»</span>
                        </h6>
                        <p class="black-color">«Объединенная больница с поликлиникой Управления делами Президента РФ»</p>
                        <br />
                        <p class="black-color">«Центр эстетической стоматологии» с 1997 года занимает лидирующие позиции среди российских стоматологических клиник благодаря достижению наилучших результатов в различных областях стоматологии.</p>
                        <br />
                        <p>Доктора Группы клиник «Центр эстетической стоматологии» имеют научные степени и звания (11 кандидатов и 3 доктора медицинских наук), регулярно участвуют в международных конференциях, семинарах и выставках, поддерживают научную связь с университетом Шарите (Германия).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="mbox">
                <div class="partners-left">
                    <img src="images/partners-list-img5.png" alt="" />
                </div>
                <div class="partners-right">
                    <div class="text-block">
                        <h6>
                            <span>ООО "МЕДИКА ТУР"</span>
                        </h6>
                        <p class="black-color">Компания, специализирующаяся на отправке пациентов на лечение за рубеж по лечению различных заболеваний (онкология, кардиология, нейрохирургия, ортопедия, ЭКО). "МЕДИКА ТУР" работает с такими странами, как Германия, Израиль, Швейцария, Испания, Южная Корея и др.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>