<div class="residention-wrapp">
    <div class="residention-align mbox">
        <div class="title">
            <h1>РЕЗИДЕНЦИИ «РУБЛЕВО-МЯКИНИНО»</h1>
            <p>ГЛАВНЫЙ КОРПУС</p>
        </div>
        <div class="big-slider">
            <div class="big-slide-wrap"><div class="big-slide"><img src="images/resident.jpg" alt=""></div></div>
            <div class="big-slide-wrap"><div class="big-slide"><img src="images/resident.jpg" alt=""></div></div>
            <div class="big-slide-wrap"><div class="big-slide"><img src="images/resident.jpg" alt=""></div></div>
        </div>
        <div class="text-box">
            <h6>Резиденции «Рублево-Мякинино», главный корпус</h6>
            <p>Роскошные резиденции премиум-класса с видом на бухту Живописная Москвы-реки. Апартаменты с дизайнерской отделкой, балконы и террасы с панорамным видом и чуткое отношение персонала – вот что делает нахождение в резиденциях «Третий Возраст приятным и комфортным. Здесь созданы все условия для респектабельного отдыха и восстановления здоровья людей третьего возраста: резиденты могут интересно провести время, пообщаться со своими сверстниками.</p>
            <p><span>Приглашаем в мир резиденций премиум-класса «Третий Возраст»!</span></p>
        </div>
        <div class="item">
            <div class="item-title">
                <p>Галерея</p>
            </div>
            <div class="same">
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
                <div class="slide-wrap"><div class="slide"><a class="fancybox" rel="gallery1" href="images/resident.jpg"><img src="images/resident.jpg" alt=""></a></div></div>
            </div>
        </div>
    </div>
</div>