<div class="residetion-wrap">
    <div class="mbox">
        <div class="title-box">Резиденции премиум класа</div>
        <div class="content-block cfix">
            <div class="res-image cfix">
                <img src="images/resedention.jpg" alt="" />
            </div>
            <div class="discription-block cfix">
                <div class="headtext">
                    <h6>Резиденции «Рублево-Мякинино», главный корпус</h6>
                    <p>Роскошные резиденции премиум-класса с видом на бухту Живописная Москвы-реки. Апартаменты с дизайнерской отделкой, балконы и террасы с панорамным видом и бережное отношение персонала. Здесь созданы все условия для респектабельного отдыха и восстановления здоровья людей третьего возраста.</p>
                </div>
                <div class="dertew">
                    <a href="">Смотреть полностью >> </a>
                </div>
            </div>
        </div>
    </div>
</div>