<div class="reviews-wrap-main">
    <div class="mbox mbox2puck">
        <div class="reviews-title">отзывы</div>
        <div class="content-wrap">
            <div class="head-title">Оставить отзыв</div>
            <form class="reviews-wrap" id="submit-reviews">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item grider-left">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_name" required="required" placeholder="Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item grider-right">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="email" name="email"  required="required" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <textarea type="text"  name="send"  required="required" placeholder="Сообщение"></textarea>
                            </div>
                        </div>
                    </div>
                   <!--  <div class="contact-form-item grider-left">
                       <div class="inside-capture">
                           <img src="images/captyre.png" alt="">
                       </div>
                   </div>

                   <div class="contact-form-item grider-right">
                       <div class="contact-form-item-input form_row">
                           <div class="form_input">
                               <input type="text" name="recapture"   placeholder="Введите слово с картинки" class="answertext" >
                           </div>
                       </div>
                   </div> -->
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <button type="submit" class="contact-submit">
                            <span>Отправить </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>