<div class="small-list small-list-another">
    <div class="mbox">

        <!-- here is title -->

        <div class="title-main">
            <h2><a href="#">полезно знать</a></h2>
        </div>

        <!-- /here is title -->

        <div class="small-list-wrap">

            <div class="small-list-item">
                <div class="small-list-img">
                    <span>
                        <img src="images/small-list-img4.jpg" alt="" />
                    </span>
                </div>
                <div class="small-list-title">
                    <span>Выходные для людей старшего поколения</span>
                </div>
                <div class="small-list-text">Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».</div>
                <div class="small-list-link">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="small-list-item">
                <div class="small-list-img">
                    <span>
                        <img src="images/small-list-img5.jpg" alt="" />
                    </span>
                </div>
                <div class="small-list-title">
                    <span>Выходные для людей старшего поколения</span>
                </div>
                <div class="small-list-text">Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».</div>
                <div class="small-list-link">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="small-list-item">
                <div class="small-list-img">
                    <span>
                        <img src="images/small-list-img6.jpg" alt="" />
                    </span>
                </div>
                <div class="small-list-title">
                    <span>Выходные для людей старшего поколения</span>
                </div>
                <div class="small-list-text">Отправляясь в отпуск или командировку, вы можете воспользоваться услугой «Выходные для людей старшего поколения».</div>
                <div class="small-list-link">
                    <div class="text-block-comebackLink right-link">
                        <a href="#">
                            <span>Смотреть полностью</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>