<div class="mbox">

    <!-- here is title -->

    <div class="title-main title-top">
        ВЫХОДНЫЕ ДЛЯ людей старшего поколения
    </div>

    <!-- /here is title -->

    <div class="text-block holiday-text">
        <p>
            <img src="images/text-img1.jpg" alt="" style="float:left;margin:0 37px 50px 0;max-width: 50%;" />
        </p>
        <h6>
            <span>Командировка или отпуск — не повод оставлять своих близких в одиночестве</span>
        </h6>
        <p>Командировка или отпуск —не повод оставлять своих близких в одиночестве. Резиденции «Третий Возраст» предлагают уникальную услугу — «Выходные для людей старшего поколения». Мы создаем комфортные условия для отдыха и реабилитации ваших близких. В нашей команде работают опытные сестры заботы, психологи, инструкторы, готовые прийти на помощь, а большой выбор оздоровительных мероприятий, организация досуга, уют и домашнее тепло обязательно порадуют ваших родных. Мы заботимся о тех, кто вам дорог!</p>
        <br />
        <p style="color:#000000">Почему нас ценят?</p>
        <ul>
            <li>Комфортные условия проживания — апартаменты премиум-класса</li>
            <li>Персональный подход — для нас важен каждый гость</li>
            <li>Разнообразный досуг — анимационные занятия, тренинги, концерты и многое другое</li>
        </ul>
        <p>Мы знаем, как вам дороги ваши близкие, поэтому создаем для них наилучшие условия пребывания. Мы уверены, что активное долголетие достижимо.</p>
    </div>

</div>